# Ignore configuration files that may contain sensitive information
/web/sites/*/settings.php
/web/sites/*/services.yml
/web/sites/*/settings.local.php
/web/sites/*/drushrc.php

# Ignore Drupal's file directory
#/www/sites/*/files/

# Ignore SimpleTest multi-site environment.
/web/sites/simpletest

# Ignore potentially big files
*.sql
*.mysql
# *.gz
*.tar
*.zip
