/**Primary colors**/

$primary-color:#009DDC;
$secondary-color:#003768;
$darkblue:#06233D;
$black: #000000;

/**Secondary colors**/

$white: #ffffff;
$grey:#cccccc;
$light-grey:#D2D2D2;
$light-grey2:#9499A0;
$light-grey3:#787878;
$light_bg:#F8FBFC;

/**rgba**/

$black-t:rgba(0, 0, 0, 0.5);

/**dark theme **/

$darktheme-primary-color:#003768;
$darktheme-secondary-color:#06233D;
$darktheme-black:#000000;
$darktheme-lightgrey:#BDBCBC;
$darktheme-ashgrey:#787878;