<div class="page-topForm ">
  <form action="javascript:void(0);" id="top-form1">
    <div class="row">
      <div class="col-lg-6">
        <div class="row inner_top_row">
          <div class="col-md-5 form_col_asset">
            <div class="form-group focus_input">
              <label for="u-name">Asset Name</label>
              <span class="select_arrow"></span>
              <select class="form-control custom_select1">
                <option>All</option>
                <option>Asset 1</option>
                <option>Asset 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-7 ps-lg-0 toggle_col">
            <div class="form-group toggle_group">
              <span class="qualification">Qualification</span>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <span class="participant">Participants</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row inner_top_row">
          <div class="col-xl-5 col-lg-9 ms-lg-auto search_col">
            <div class="form-group focus_input">
              <label for="u-name">Search</label>
              <span class="search_icon"></span>
              <input class="form-control input_search" placeholder="Search Participant Name" type="text" id="u-name" name='Username' />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="dashboard-content">
  <div class="page-header ">
    <div class="page-header__inner">
    </div>
  </div>
  <div class="dashboardform-inner">
    <div class="table-design">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Participant Name</th>
              <th>Employee ID</th>
              <th>Resident City</th>
              <th>Resident Country</th>
              <th>Asset Name</th>
              <th>Training Gap Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alex AA</td>
              <td>AAA111</td>
              <td>New York City</td>
              <td>New York</td>
              <td>Maersk Mariner</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Antony</td>
              <td>AAA112</td>
              <td>Los Angeles</td>
              <td>California</td>
              <td>Maersk Mariner</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Aung</td>
              <td>AAA113</td>
              <td>Chicago</td>
              <td>Illinois</td>
              <td>Maersk Mariner</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Cooper</td>
              <td>AAA114</td>
              <td>Houston</td>
              <td>Texas</td>
              <td>Maersk Mariner</td>
              <td>5</td>
            </tr>
            <tr>
              <td>David DD</td>
              <td>AAA115</td>
              <td>Phoenix</td>
              <td>Arizona</td>
              <td>Maersk Mariner</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Raj S</td>
              <td>AAA116</td>
              <td>Philadelphia</td>
              <td>Pennsylvania</td>
              <td>Maersk Mariner</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Ronny J</td>
              <td>AAA117</td>
              <td>San Antonio</td>
              <td>Texas</td>
              <td>Maersk Mariner</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Salman A</td>
              <td>AAA118</td>
              <td>Austin</td>
              <td>Texas</td>
              <td>Maersk Mariner</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Saran R</td>
              <td>AAA119</td>
              <td>San Jose</td>
              <td>Texas</td>
              <td>Maersk Mariner</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Saran R</td>
              <td>AAA119</td>
              <td>Fort Worth</td>
              <td>California</td>
              <td>Maersk Mariner</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Saran R</td>
              <td>AAA119</td>
              <td>Jacksonville</td>
              <td>Florida</td>
              <td>Maersk Mariner</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>