/**Mixin**/

/**Border Radius**/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/**Box Shadow**/
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

/**Transform**/
@mixin transform($trans) {
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    -o-transform: $trans;
    transform: $trans;
}

/**Transition**/
@mixin transition($trans) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

/**Transition**/
@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin animation-delay($delay1) {
    -webkit-transition-delay: $delay1;
    -moz-transition-delay: $delay1;
    -ms-transition-delay: $delay1;
    -o-transition-delay: $delay1;
    transition-delay: $delay1;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
}