/**Primary colors**/

$primary-color:#5E72E4;
$secondary-color:#4554AB;
$darkblue:#0D1119;
$black: #000000;

/**Secondary colors**/

$white: #ffffff;
$grey:#cccccc;
$light-grey:#D2D2D2;
$light-grey2:#9499A0;
$light-grey3:#8898AA;
$light_bg:#F8FBFC;

/**rgba**/

$black-t:rgba(0, 0, 0, 0.5);