{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="report_page">
<form{{ attributes }}>
  {{ children }}
</form>

{#<div class="report_listing">#}
{#  <h2>Report List</h2>#}
{#  {{ drupal_view('reports', 'block_1') }}#}
{#</div>#}
</div>
