form.permissionspolicy-settings fieldset[data-drupal-selector$="implementation-status"] .form-checkboxes,
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] .form-radios,
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] .form-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

form.permissionspolicy-settings fieldset[data-drupal-selector$="implementation-status"] .form-checkboxes .form-item,
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] .form-radios .form-item,
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] .form-checkboxes .form-item {
  margin-right: 3ex;
}
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] [data-drupal-selector$="-options"] {
  margin-left: 2.5ex;
}
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] [data-drupal-selector$="-sources"][disabled] {
  color: transparent;
}
form.permissionspolicy-settings fieldset[data-drupal-selector$="features"] em.feature-status {
  font-size: 60%;
}
