<div class="custom-control custom-switch">
  <input id="dark-mode-switch" type="checkbox" class="custom-control-input">
  <label class="custom-control-label" for="dark-mode-switch">{{ 'Dark Mode'|t }}</label>
</div>
